body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  border-width: 3px 0;
  border-color: #330099;
  border-style: solid;
  height: 107px;
}

.hamburger-menu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 9%;
  place-content: flex-end;
}

.menu__item {
  position: relative;
  margin: 3px 44px 0px 0px;
  font: 20px/24px gilroy, arial, helvetica, sans-serif;
  color: #585858;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu__item_btn:hover,
.advantages__button:hover {
  cursor: pointer;
  background: #4ab272;
}

.menu__item_btn {
  font: 20px/24px montserrat_extrabold, arial, helvetica, sans-serif;
  background-color: #330099;
  padding: 15px 31px 11px 31px;
  border-radius: 50px;
  color: #fff;
  position: relative;
  text-decoration: none;
  transition: opacity 0.5s;
}

.main {
  height: 481px;
  background-size: cover;
  background: no-repeat center/100% url("images/bg.svg");
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.main__title {
  color: #330099;
  font: 40px/48px montserrat_black, arial, helvetica, sans-serif;
  padding-right: 9%;
  width: 50%;
  margin-bottom: 4px;
}

.main__subtitle {
  color: #fff;
  font: 30px/38px montserrat_bold, arial, helvetica, sans-serif;
  padding-right: 9%;
  margin-top: 5px;
}

/* section advantages */

.advantages {
  background-color: #f9f9f9;
}

.advantages__title {
  padding-top: 90px;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
  color: #585858;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0 0 51px 0;
}

.advantages-all {
  width: 82%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.advantages-first {
  width: 317px;
  margin-right: 25px;
}

.advantages-second {
  width: 340px;
}

.advantages-third {
  width: 346px;
}

.advantages-first__img,
.advantages-second__img,
.advantages-third__img {
  width: 85px;
  margin-bottom: 28px;
}

.advantages-first__title {
  margin-bottom: 10px;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
  color: #585858;
}

.advantages-third__subtitle_mob {
  display: none;
}

.advantages-second__title {
  margin-bottom: 27px;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
  color: #585858;
}

.advantages-third__title {
  margin-bottom: 10px;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
  color: #585858;
}

.advantages-first__subtitle,
.advantages-second__subtitle,
.advantages-third__subtitle {
  color: #585858;
  font: 20px/24px montserrat_medium, arial, helvetica, sans-serif;
  margin-bottom: 117px;
}

.advantages-second__subtitle {
  color: #585858;
  font: 20px/24px montserrat_medium, arial, helvetica, sans-serif;
  margin-bottom: 117px;
}

.advantages-third__subtitle {
  color: #585858;
  font: 20px/24px montserrat_medium, arial, helvetica, sans-serif;
  margin-bottom: 117px;
}

.advantages__button {
  display: block;
  text-align: center;
  padding-bottom: 110px;
}

.advantages__button a {
  text-decoration: none;
  background-color: #330099;
  padding: 21px 37px 20px 36px;
  border-radius: 50px;
  color: #ffda45;
  font: 20px/24px montserrat_extrabold, arial, helvetica, sans-serif;
  cursor: pointer;
}

/* skills */

.skills-mob {
  display: none;
}

.dots {
  display: none;
}

.skills {
  color: #585858;
}
.skills__title {
  margin-bottom: 50px;
  margin-top: 91px;
  text-align: center;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
}

.skills-first {
  margin-left: 130px;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.skills-first__img,
.skills-second__img,
.skills-third__img {
  width: 175px;
}

.skills-first__text {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  margin-top: 3px;
}

.skills-first__title,
.skills-second__title {
  font: 30px/37px montserrat_semibold, arial, helvetica, sans-serif;
  margin-bottom: 8px;
}

.skills-first__subtitle,
.skills-second__subtitle,
.skills-third__subtitle {
  font: 20px/24px montserrat_medium, arial, helvetica, sans-serif;
}

.skills-second {
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 130px;
  margin-bottom: 80px;
}

.skills-second__text {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-right: 25px;
}

.skills-third {
  margin-left: 130px;
  display: flex;
  flex-direction: row;
  margin-bottom: 90px;
}

.skills-third__text {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  margin-top: 12px;
}

.skills-third__title {
  font: 30px/36px montserrat_semibold, arial, helvetica, sans-serif;
  margin-bottom: 8px;
}

/* form */
.form {
  background-color: rgba(51, 0, 153, 0.12);
  text-align: center;
}

.form__title {
  padding-top: 60px;
  margin-bottom: 37px;
  color: #585858;
  font: 30px/36px montserrat_black, arial, helvetica, sans-serif;
  margin-right: 15px;
}

.form__img {
  margin-bottom: 44px;
  margin-right: 15px;
}

.form__subtitle {
  font: 20px/25px montserrat_semibold, arial, helvetica, sans-serif;
  color: #585858;
  width: 374px;
  margin: 0 auto 34px;
}

.form__inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form__input {
  border-radius: 50px;
  border: 0;
  margin-bottom: 18px;
  width: 260px;
  height: 70px;
  font: 15px/18px montserrat_semibold, arial, helvetica, sans-serif;
  padding-left: 40px;
  color: #858585;
}

.form__button {
  padding-bottom: 84px;
}

.form__button:hover {
  cursor: pointer;
  background: #ff0606;
}

.form__button a {
  font: 20px/24px montserrat_black, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #4ab272;
  padding: 23px 89px 23px 91px;
  border-radius: 50px;
}

.footer {
  word-spacing: 1px;
  text-align: center;
  background-color: #330099;
  color: #fff;
  font: 20px/24px roboto, arial, helvetica, sans-serif;
}

.footer__social {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-icons {
  justify-content: space-between;
  display: inline-flex;
  width: 379px;
  flex-direction: row;
  margin-bottom: 70px;
  outline: none;
}

.footer__social_mob {
  display: none;
}

.footer-icons img {
  width: 60px;
}

.footer__copyright {
  padding-bottom: 60px;
}

@media (max-width: 1441px) {
  .main {
    background: no-repeat left url("images/bg.svg");
  }
}

@media (max-width: 1025px) {
  .main__title {
    width: 70%;
  }

  .advantages__title {
    padding-top: 60px;
    font: 24px/30px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first,
  .advantages-second,
  .advantages-third {
    width: 270px;
    margin: 0;
  }

  .advantages-second__title {
    padding-left: 0;
    width: auto;
    font: 24px/30px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__title,
  .advantages-third__title,
  .form__title {
    font: 24px/30px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__subtitle,
  .advantages-second__subtitle,
  .advantages-third__subtitle {
    font: 18px/22px montserrat_medium, arial, helvetica, sans-serif;
  }

  .skills-first__img,
  .skills-second__img,
  .skills-third__img {
    width: 150px;
  }
  .skills__title {
    margin-top: 60px;
    font: 24px/30px montserrat_black, arial, helvetica, sans-serif;
  }
  .skills-first__title,
  .skills-second__title,
  .skills-third__title {
    font: 24px/30px montserrat_semibold, arial, helvetica, sans-serif;
  }

  .skills-first__subtitle,
  .skills-second__subtitle,
  .skills-third__subtitle {
    font: 18px/22px montserrat_medium, arial, helvetica, sans-serif;
  }

  .main {
    height: 480px;
  }

  .form__img {
    margin-right: 0px;
  }

  .form__title {
    margin-right: 0px;
    font: 24px/30px montserrat_semibold, arial, helvetica, sans-serif;
  }
}

@media (max-width: 880px) {
  .main__title {
    font: 32px/40px montserrat_black, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 24px/30px montserrat_bold, arial, helvetica, sans-serif;
  }

  .advantages__title {
    padding-top: 50px;
    font: 20px/28px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__title,
  .advantages-second__title,
  .advantages-third__title {
    font: 20px/28px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__subtitle,
  .advantages-second__subtitle,
  .advantages-third__subtitle {
    font: 16px/20px montserrat_medium, arial, helvetica, sans-serif;
  }

  .advantages-first__img,
  .advantages-second__img,
  .advantages-third__img {
    width: 60px;
    margin-bottom: 20px;
  }
  .skills__title,
  .form__title {
    font: 20px/28px montserrat_black, arial, helvetica, sans-serif;
  }

  .skills-first__title,
  .skills-second__title,
  .skills-third__title,
  .form__title {
    font: 20px/28px montserrat_semibold, arial, helvetica, sans-serif;
  }

  .skills-first__subtitle,
  .skills-second__subtitle,
  .skills-third__subtitle {
    font: 16px/20px montserrat_medium, arial, helvetica, sans-serif;
  }
}

@media (max-width: 769px) {
  .main__title {
    width: 80%;
  }

  .header {
    border-width: 0;
  }

  .menu {
    display: none;
  }

  .menu__item {
    margin: 0;
    font: 32px/40px gilroy, arial, helvetica, sans-serif;
  }

  .menu__item_btn {
    font: 24px/30px montserrat_extrabold, arial, helvetica, sans-serif;
  }

  #menu__toggle {
    opacity: 0;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 9%;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 8px;
    background-color: #330099;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 7px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 168px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    z-index: 1;
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #fff;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .advantages-all {
    flex-direction: column;
    align-items: center;
  }

  .advantages__title,
  .advantages-first__title,
  .advantages-second__title,
  .advantages-third__title {
    font: 18px/22px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__subtitle,
  .advantages-second__subtitle,
  .advantages-third__subtitle {
    margin-bottom: 70px;
  }

  .advantages__button a {
    font: 18px/22px montserrat_extrabold, arial, helvetica, sans-serif;
    padding: 20px;
  }

  .skills__title,
  .form__title {
    font: 18px/24px montserrat_black, arial, helvetica, sans-serif;
  }

  .skills-first__title,
  .skills-second__title,
  .skills-third__title,
  .form__subtitle {
    font: 18px/24px montserrat_semibold, arial, helvetica, sans-serif;
  }

  .skills-first__img,
  .skills-second__img,
  .skills-third__img {
    width: 75px;
  }

  .skills-first,
  .skills-second,
  .skills-third {
    margin-left: 5%;
    flex-direction: row;
    text-align: left;
    margin-right: 0px;
  }

  .skills-first__text,
  .skills-second__text,
  .skills-third__text {
    margin-left: 10px;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
  }

  .footer-icons,
  .form__subtitle {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .main {
    background: no-repeat center/100% url(images/bg-mob.svg);
    height: 230px;
    justify-content: flex-end;
  }

  .main__title {
    font: 20px/24px montserrat_black, arial, helvetica, sans-serif;
    padding-right: 10%;
    margin: 0;
  }

  .main__subtitle {
    font: 16px/19px montserrat_bold, arial, helvetica, sans-serif;
    padding-right: 9%;
    margin: 0;
    padding-bottom: 37%;
  }

  .menu__item_btn {
    font: 8px/8px montserrat_extrabold, arial, helvetica, sans-serif;
    padding: 6px 11px;
  }

  .header {
    height: 54px;
  }

  .menu__btn {
    width: 23px;
  }

  .advantages__title,
  .advantages-first__title,
  .advantages-second__title,
  .advantages-third__title {
    font: 16px/20px montserrat_black, arial, helvetica, sans-serif;
  }

  .advantages-first__subtitle,
  .advantages-second__subtitle,
  .advantages-third__subtitle {
    font: 16px/20px montserrat_medium, arial, helvetica, sans-serif;
  }

  .advantages__title {
    width: 260px;
    padding-top: 48px;
    margin-left: 29px;
    margin-bottom: 35px;
  }

  .advantages-first__img,
  .advantages-second__img,
  .advantages-third__img {
    width: 55px;
    margin-bottom: 0px;
  }

  .advantages-first__title {
    margin-bottom: 2px;
  }

  .advantages-second__title {
    margin-bottom: 3px;
  }

  .advantages-third__title {
    margin-bottom: 3px;
  }

  .advantages-first__subtitle {
    margin-bottom: 34px;
  }

  .advantages-second__subtitle {
    margin-bottom: 34px;
  }

  .advantages-third__subtitle {
    display: none;
  }

  .advantages-third__subtitle_mob {
    display: block;
    font: 16px/20px montserrat_medium, arial, helvetica, sans-serif;
    color: #585858;
    margin-bottom: 52px;
  }

  .advantages__button {
    padding-bottom: 63px;
  }

  .advantages__button a {
    font: 16px/19px montserrat_extrabold, arial, helvetica, sans-serif;
    padding: 17px 21px;
  }

  .skills-first,
  .skills-second,
  .skills-third {
    display: none;
  }

  .skills__title {
    font: 16px/19px montserrat_black, arial, helvetica, sans-serif;
    margin: 36px 0;
  }

  .skills-mob {
    display: block;
    color: #585858;
    text-align: center;
  }

  .skills-mob__img {
    margin-bottom: 6px;
  }

  .skills-mob__title {
    font: 16px/20px montserrat_semibold, arial, helvetica, sans-serif;
    margin-bottom: 9px;
  }

  .skills-mob__subtitle {
    font: 14px/17px montserrat_medium, arial, helvetica, sans-serif;
    margin-bottom: 29px;
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    margin-left: 14px;
  }

  .dots__two,
  .dots__three {
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e1e6e9;
    margin-right: 13px;
  }

  .dots__one {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffda45;
    margin-right: 16px;
  }

  .form__title {
    font: 16px/20px montserrat_black, arial, helvetica, sans-serif;
    padding-top: 32px;
    margin-bottom: 19px;
  }

  .form__img {
    padding-left: 3px;
    margin-bottom: 24px;
  }

  .form__subtitle {
    font: 16px/20px montserrat_semibold, arial, helvetica, sans-serif;
    width: 240px;
    margin-bottom: 20px;
  }

  .form__inputs {
    margin-bottom: 35px;
  }

  .form__input {
    margin-bottom: 11px;
    width: 230px;
    height: 47px;
    font: 10px/12px montserrat_semibold, arial, helvetica, sans-serif;
    padding-left: 25px;
  }

  .form__button {
    padding-bottom: 47px;
  }

  .form__button a {
    font: 16px/19px montserrat_black, arial, helvetica, sans-serif;
    padding: 15px 82px;
  }

  .footer {
    font: 14px/16px roboto, arial, helvetica, sans-serif;
  }

  .footer__social {
    display: none;
  }
  .footer__social_mob {
    display: block;
    margin: auto;
    padding-top: 31px;
    padding-bottom: 15px;
  }

  .footer-icons {
    width: 260px;
    margin-bottom: 44px;
  }

  .footer-icons img {
    width: 35px;
  }
}
